div.map {
    overflow: hidden;
    height: 100%;
}

g.time-slider {
    transform: translate(50%, 90%) translateX(-150px);
}

g.regions {

}

g.current-regions {
    fill: burlywood;
    stroke:black;
    stroke-width: .2px;
    z-index: 70;
}

g.selected-regions {
    fill: coral;
    stroke-width: 0px;
    z-index: 80;
    pointer-events: none;
}

path.region {
    vector-effect: non-scaling-stroke;
}

path.region:hover {
    fill: red;
}

path.selected-region {
    fill: coral;
}

.tooltip {
    background-color: black;
    border: none;
    border-radius: 5px;
    padding: 15px;
    min-width: 100px;
    text-align: left;
    color: white;
    position: absolute;
    user-select: none;
    pointer-events: none;
    z-index: 100;
}

table.selected-counties {
    background-color: darkgrey;
    border-collapse: collapse;
}

table, tr, th, td.selected-counties {
    border: 0.5px solid black;
}

th, td.selected-counties {
    padding: 0.2em;
}
